.title {
	font-family: $font;
	float: right;
	font-size: 30px;
	color: $color-white;
	margin-right: 10px;
}

.widgetselecter {
	background-color: $color-black;
    padding: {
        top: 10px;
        left: 10px;
    }
	height: 50px;
}

.Select-control {
	border-radius: 0px !important;
	border: none !important;
	background-color: $color-white !important;
}