.dashboardCard {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33% - 20px);
  @include border-radius(15px);
  @include shadow($shadow-1);
  cursor: pointer;
  z-index: 1;
  >a {
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc(33% - 166px);
    position: absolute;
    z-index: 2;
    padding: 17px;
    font-weight: 700;
    font-size: 14px;
    color: $color-grey;
    text-decoration: none;
    min-width: 222px;
  }
  span {
    padding: 17px;
    color: $color-grey;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
  }
  .editButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    i {
      padding: 5px;
      font-size: 18px;
      color: $color-grey;
      cursor: pointer;
      transition: 0.3s ease all;
      &:hover {
        color: $color-red;
      }
      &:last-child {
        margin-right: 10px;
      }
    }
  }
}
