.mainContainer {
  display: grid;
  grid-template-columns: 325px auto;
  grid-template-rows: 100vh;
  grid-template-areas: "sideBar dashboard";

  .dashboardGrid {
    grid-area: dashboard;
    padding: 0 30px;
  }
}
