.dashboardTitle{
}

.companyNEdit {
  width: auto !important;
  color: $color-red;
  font-size: 2em !important;
  font-weight: 700;
  padding:25px 0;
  border-bottom: 2px solid transparent !important;
}
