.dashboardCard {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  margin-bottom: 20px;
  margin-right: 20px;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33% - 20px);

  @include border-radius(15px);
  @include shadow($shadow-1);

  span {
    padding: 17px;
    color: $color-grey;
    font-weight: 700;
    font-size: 14px;
  }
  .editButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      padding: 5px;
      font-size: 18px;
      color: $color-grey;
      cursor: pointer;
      transition: 0.3s ease all;

      &:hover {
        color: $color-red;
      }

      &:last-child {
        margin-right: 10px;
      }
    }
  }
}
