@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  max-height: 100vh;
  background-color: #f2f2f2; }

.rw-main.type-today {
  border-radius: 0px; }

.react-grid-layout {
  transition: height 200ms ease; }

.title {
  font-family: "Ubuntu";
  float: right;
  font-size: 30px;
  color: #f2f2f2;
  margin-right: 10px; }

.widgetselecter {
  background-color: #171717;
  padding-top: 10px;
  padding-left: 10px;
  height: 50px; }

.Select-control {
  border-radius: 0px !important;
  border: none !important;
  background-color: #f2f2f2 !important; }

.addButton {
  border-radius: 0px;
  background-color: #f2f2f2;
  height: 38px; }
  .addButton:hover {
    background-color: #cbcbcb;
    transition: 0.2s; }

.resetButton {
  border-radius: 0px;
  background-color: #f2f2f2;
  height: 38px; }
  .resetButton:hover {
    background-color: #cbcbcb;
    transition: 0.2s; }

.dropdown {
  width: 150px;
  display: inline-block; }

.clock {
  font-size: 35px;
  color: #171717;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.photo {
  background: url("https://fontys.nl/upload_mm/e/1/6/115115_fullimage_fon525_00.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 999; }

.rw-main {
  color: #fff;
  width: 100%;
  height: 320px;
  background: #4997D8;
  display: flex; }

.rw-main h2 {
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: x-large;
  letter-spacing: 2px; }

.rw-main .hr {
  width: 100%;
  height: 0;
  border-bottom: solid 1px #fff;
  opacity: 0.4;
  margin: 10px 0; }

.rw-main p {
  margin: 0; }

.rw-main.type-today {
  border-radius: 0px; }

.rw-main.type-5days {
  border-radius: 0px; }

.rw-main .rw-box-left {
  padding: 30px;
  width: 60%; }

.rw-main .rw-box-right {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center; }

.rw-main .rw-box-right i {
  font-size: 80px; }

.rw-main .rw-today .date {
  color: #B5DEF4; }

.rw-main .rw-today .current {
  font-size: 45px; }

.rw-main .rw-today .range {
  color: #B5DEF4;
  font-size: 12px;
  margin: 0 0 5px 2px; }

.rw-main .rw-today .desc {
  color: #B5DEF4;
  font-size: 16px; }

.rw-main .rw-today .desc i {
  font-size: 20px;
  color: #B5DEF4; }

.rw-main .rw-today .info {
  color: #B5DEF4; }

.rw-main .rw-today .info div {
  margin-bottom: 5px; }

.rw-box-days {
  clear: both;
  display: flex;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-radius: 0px;
  font-size: 11px;
  color: #777;
  background-color: #fff; }

.rw-box-days .rw-day {
  width: calc(100% / 4);
  text-align: center;
  margin: 10px; }

.rw-box-days .rw-day:not(:first-child) {
  border-left: solid 1px #ddd; }

.rw-box-days .rw-date {
  font-size: 11px;
  font-weight: bold; }

.rw-box-days .rw-desc {
  margin: 10px 0 10px 0;
  font-size: 12px; }

.rw-box-days .rw-range {
  font-size: 11px; }

.rw-box-days .rw-info {
  margin-top: 10px;
  font-size: 12px; }

.rw-box-days .wicon {
  margin-top: 15px;
  font-size: 35px;
  color: #4BC4F7; }

.rw-box {
  font-family: Helvetica, sans-serif;
  font-size: 13px; }

.react-grid-item {
  text-align: center;
  background: #cbcbcb;
  transition: all 200ms ease;
  transition-property: left, top; }
