# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/which.cmd
client/which
client/webpack.cmd
client/webpack-dev-server.cmd
client/webpack-dev-server
client/webpack
client/uuid.cmd
client/uuid
client/uglifyjs.cmd
client/uglifyjs
client/sw-precache.cmd
client/sw-precache
client/svgo.cmd
client/svgo
client/strip-indent.cmd
client/strip-indent
client/sshpk-verify.cmd
client/sshpk-verify
client/sshpk-sign.cmd
client/sshpk-sign
client/sshpk-conv.cmd
client/sshpk-conv
client/sha.js.cmd
client/sha.js
client/semver.cmd
client/semver
client/sassgraph.cmd
client/sassgraph
client/sane.cmd
client/sane
client/run-s.cmd
client/run-s
client/run-p.cmd
client/run-p
client/rimraf.cmd
client/rimraf
client/regjsparser.cmd
client/regjsparser
client/react-scripts.cmd
client/react-scripts
client/rc.cmd
client/rc
client/npm-run-all.cmd
client/npm-run-all
client/not-in-publish.cmd
client/not-in-publish
client/not-in-install.cmd
client/not-in-install
client/nopt.cmd
client/nopt
client/nodetouch.cmd
client/nodetouch
client/node-sass.cmd
client/node-sass-chokidar.cmd
client/node-sass-chokidar
client/node-sass
client/node-gyp.cmd
client/node-gyp
client/multicast-dns.cmd
client/multicast-dns
client/mkdirp.cmd
client/mkdirp
client/mime.cmd
client/mime
client/miller-rabin.cmd
client/miller-rabin
client/loose-envify.cmd
client/loose-envify
client/json5.cmd
client/json5
client/jsesc.cmd
client/jsesc
client/js-yaml.cmd
client/js-yaml
client/jest.cmd
client/jest-runtime.cmd
client/jest-runtime
client/jest
client/is-ci.cmd
client/is-ci
client/internal-ip.cmd
client/internal-ip
client/in-publish.cmd
client/in-publish
client/in-install.cmd
client/in-install
client/import-local-fixture.cmd
client/import-local-fixture
client/html-minifier.cmd
client/html-minifier
client/he.cmd
client/he
client/handlebars.cmd
client/handlebars
client/esvalidate.cmd
client/esvalidate
client/esparse.cmd
client/esparse
client/eslint.cmd
client/eslint
client/esgenerate.cmd
client/esgenerate
client/escodegen.cmd
client/escodegen
client/errno.cmd
client/errno
client/detect.cmd
client/detect-port.cmd
client/detect-port
client/detect
client/csso.cmd
client/csso
client/cssesc.cmd
client/cssesc
client/browserslist.cmd
client/browserslist
client/babylon.cmd
client/babylon
client/atob.cmd
client/atob
client/ansi-html.cmd
client/ansi-html
client/acorn.cmd
client/acorn
