.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 325px;
  background-color: $color-white;
  height: 100vh;
  padding: 56px 0 0 15px;
  @include shadow($shadow-2);

  .btn {
    margin-top: 20px;
  }
}
