.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 325px;
  background-color: $color-white;
  height: 100vh;
  padding: 56px 0 0 15px;

  .btn {
    margin-top: 20px;
  }

  .companyList {
    margin: 20px 0 0 0;
    padding: 0;
    color: $color-red;
    font-weight: bold;
    list-style-type: none;

    li {
      padding-top: 10px;
    }

    .subList {
      color: $color-grey;
      font-weight: normal;
      list-style-type: none;
      padding-left: 25px;

      li {
        padding: 5px 5px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -10px;
          width: 1px;
          height: 100%;
          background-color: $color-red;
        }

        &:first-child {
          margin-top: 5px;
        }
        &:last-child {
          margin-bottom: 5px;
        }
      }
    }
  }
}
