.snackbar {
  position: fixed;
  top: 74px;
  right: -150px;
  color: white;
  background-color: darkgray;
  padding: 8px 17px 8px 17px;
  border-radius: 30px;
  animation: slide 0.5s forwards;
  animation-delay: 0.25s;
}

@keyframes slide {
  100% {
    right: 20px;
  }
}
