.dashboardEdit{
  overflow-y:hidden;

  .mainContainer{
    display: grid;
    grid-template-columns: 325px auto;
    grid-template-rows: 100vh;
    grid-template-areas: "sideBar dashboard";

    .widgetselecter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: none;
      margin: 30px 0;
      padding-right: 15px;
      height: 780px;

      .dropdown {
        width: auto;
        display: inline-block;
      }

      .reset{
        align-self: flex-start;
      }
    }

    .Select-control {
      border-radius: 0px !important;
      border: none !important;
      background-color: $color-white !important;
    }

    .sideNav{
      grid-area: sideBar;

      .backButton{
        margin: 0;
      }
    }

    .DashboardGrid{
      grid-area: dashboard;

      .TopDashboard{
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h3{
          color: $color-grey;
        }
      }

      .BottomDashboard{
        padding: 0 40px;
        
      }
    }
  }

  .rw-main.type-today {
	  border-radius: 0px;
  }

  .react-grid-layout {
    transition: height 200ms ease;
  }
  
}