.dashboardEdit {
  overflow-y: hidden;

  .mainContainer {
    display: grid;
    grid-template-columns: 325px auto;
    grid-template-rows: 100vh;
    grid-template-areas: "sideBar dashboard";

    .widgetselecter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: none;
      margin: 30px 0;
      padding-right: 15px;
      height: calc(100vh - 250px);

      .dropdown {
        width: auto;
        display: inline-block;
      }

      .reset {
        align-self: flex-start;
      }
    }

    .Select-control {
      border-radius: 0px !important;
      border: none !important;
      background-color: $color-white !important;
    }

    .sideNav {
      grid-area: sideBar;

      .backButton {
        margin: 0;
      }
    }

    .dashboardGrid {
      grid-area: dashboard;
      padding: 20px;

      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 55px);

      .react-grid-layout {
        position: relative;
        transition: height 200ms ease;
      }

      .react-grid-item.cssTransforms {
        transition-property: transform;
      }
      .react-grid-item.resizing {
        z-index: 1;
        will-change: width, height;
      }

      .react-grid-item.react-draggable-dragging {
        transition: none;
        z-index: 3;
        will-change: transform;
      }

      .react-grid-item.react-grid-placeholder {
        background: red;
        opacity: 0.2;
        transition-duration: 100ms;
        z-index: 2;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      .react-grid-item > .react-resizable-handle {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 0;
        right: 0;
        cursor: se-resize;
      }

      .react-grid-item > .react-resizable-handle::after {
        content: "";
        position: absolute;
        right: 8px;
        bottom: 8px;
        width: 5px;
        height: 5px;
        border-right: 2px solid rgba(0, 0, 0, 0.4);
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      }

      .react-resizable {
        position: relative;
      }
      .react-resizable-handle {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 0;
        right: 0;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
        background-position: bottom right;
        padding: 0 8px 8px 0;
        background-repeat: no-repeat;
        background-origin: content-box;
        box-sizing: border-box;
        cursor: se-resize;
      }
    }
  }
}
