.addButton {
  border-radius: 0px;
	background-color: $color-white;
	height: 38px;
	&:hover {
		background-color: $color-white-hover;
		transition: 0.2s;
	}
}

.resetButton {
	border-radius: 0px;
	background-color: $color-white;
	height: 38px;
	&:hover {
		background-color: $color-white-hover;
		transition: 0.2s;
	}
}
