.btn {
  position: relative;
  background-color: transparent;
  border: 2px solid $color-red;
  border-radius: 30px;
  color: $color-grey;
  padding: 8px 17px 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 10px 4px 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  i {
    font-size: 17px;
    margin-right: 5px;
  }

  &::before {
    content: "";
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    width: 140%;
    height: 100%;
    left: -20%;
    top: 0;
    background: $color-red;
    z-index: -1;
    -ms-transform: translate(-110%, 0) skew(45deg);
    -webkit-transform: translate(-110%, 0) skew(45deg);
    transform: translate(-110%, 0) skew(45deg);
    box-sizing: border-box;
  }

  &:hover,
  &:active {
    color: $color-white;

    &::before {
      background-color: $color-red;
      left: 120%;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// Add small class for smaller button
.btn.small {
  padding: 4px 10px 4px 8px;
}

.btn.red {
  color: $color-white;
  background-color: $color-red;
}

.addButton {
  border-radius: 0px;
  background-color: $color-grey;
  height: 38px;
  &:hover {
    background-color: $color-grey-hover;
    transition: 0.2s;
  }
}

.resetButton {
  border-radius: 0px;
  background-color: $color-grey;
  height: 38px;
  &:hover {
    background-color: $color-grey-hover;
    transition: 0.2s;
  }
}

.backButton {
  margin: 50px 0 0 50px;
}
