.addButton {
    border-radius: 0px;
    background-color: $color-grey;
    height: 38px;
    &:hover {
        background-color: $color-grey-hover;
        transition: 0.2s;
    }
}

.resetButton {
    border-radius: 0px;
    background-color: $color-grey;
    height: 38px;
    &:hover {
        background-color: $color-grey-hover;
        transition: 0.2s;
    }
}