.titleBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  h1 {
    color: $color-grey;
    padding: 10px;
    margin-bottom: 0;
    font-size: 30px;
  }
  .contentRight {
    // align-self: flex-end;
    margin-bottom: 0;
    li {
      padding: 16px 20px;
      display: inline-block;
    }
  }
}
