@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ide1tr');
  src:  url('fonts/icomoon.eot?ide1tr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ide1tr') format('truetype'),
    url('fonts/icomoon.woff?ide1tr') format('woff'),
    url('fonts/icomoon.svg?ide1tr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Copy_clipboard_link_1:before {
  content: "\31";
}
.icon-Copy_clipboard_link_2:before {
  content: "\32";
}
.icon-Copy_clipboard_link_3:before {
  content: "\33";
}
.icon-Copy_clipboard_link_4:before {
  content: "\34";
}
