.btn {
  position: relative;
  background-color: transparent;
  border: 2px solid $color-red;
  border-radius: 30px;
  background-clip: padding-box;
  color: $color-black;
  padding: 8px 17px 8px 17px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 10px 4px 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  min-width: 120px;
  &.icon {
    padding: 8px 17px 8px 12px;
    i {
      font-size: 17px;
      margin-right: 5px;
    }
  }
  &.small {
    padding: 4px 10px 4px 8px;
  }

  &.red {
    color: $color-white;
    background-color: $color-red;
  }
  &::before {
    content: "";
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    width: 140%;
    height: 100%;
    left: -20%;
    top: 0;
    background: $color-red;
    z-index: -1;
    -ms-transform: translate(-110%, 0) skew(45deg);
    -webkit-transform: translate(-110%, 0) skew(45deg);
    transform: translate(-110%, 0) skew(45deg);
    box-sizing: border-box;
    background-clip: padding-box;
  }
  &:hover,
  &:active {
    color: $color-white;
    &::before {
      background-color: $color-red;
      left: 130%;
    }
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.iconOnly {
    align-self: flex-start;
    border: none;
    padding: 0px;
    min-width: 0;
    background: none;

    i {
      font-size: 17px;
    }

    &:hover{
      color: $color-red;
      transition: 0.3 ease all;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

.addButton {
  border-radius: 0px;
  background-color: $color-grey;
  height: 38px;
  &:hover {
    background-color: $color-grey-hover;
    transition: 0.2s;
  }
}

.resetButton {
  border-radius: 0px;
  background-color: $color-grey;
  height: 38px;
  &:hover {
    background-color: $color-grey-hover;
    transition: 0.2s;
  }
}

.backButton {
  margin: 50px 0 0 50px;
  width: fit-content;
}

.dashboardEdit {
  .mainContainer {
    .sideNav {
      .backButton {
        margin: 0;
      }
    }
  }
}

.bottomButtonsEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
