.card {
  // opacity: 0.7;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5;

  .cardContent {
    width: 20vw;
    background-color: $color-white;
    z-index: 0;
    border-radius: 10px;
    min-width: 420px;
    @include shadow($shadow-2);

    .cardHeader {
      height: 25vh;
      width: auto;
      border-radius: 10px 10px 0px 0px;
    }
    .overlayImage {
      background: url(img/lamecoCompany.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: 25vh;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 10px 10px 0px 0px;

      h2 {
        color: $color-white;
        z-index: 3;
      }
    }
    .overlayImage:after {
      position: absolute;
      background-color: $color-red-transparent;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0px 0px;
    }

    .cardBody {
      min-height: 270px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      .popupContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        height: inherit;

        form {
          width: inherit;
          .middleForm {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 10px;
            .formText {
              height: 5vh;
            }
            .formField:not(#selectCompanyDashboard) {
              p {
                margin: 10px 0;
                font-weight: 800;
              }
              height: 10vh;
              margin-bottom: 10px;
              input {
                width: 100%;
                background: transparent;
                border: 0;
                outline: 0;
                border-bottom: 2px solid $color-red-transparent;
              }
              ::placeholder {
                color: rgb(185, 185, 185);
              }
              .invalid {
                margin-top: 2px;
                font-size: 0.8em;
                color: $color-red;
              }
            }
          }
          > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 0px;
          }
          #selectCompanyDashboard.formField {
            p.companyTitle {
              margin: 10px 0;
              font-weight: 800;
            }
            .companyList {
              height: 110px;
            }
            .list {
              color: $color-dark-white;
              cursor: pointer;

              .selected {
                color: $color-red;
              }
            }
            height: 175px;
            margin: 0;
          }
        }
        .btn {
          margin-bottom: 15px;
        }
      }
      margin-top: 0;
    }
  }
}
.cardBackground {
  width: 100vw;
  height: 100%;
  background-color: $color-grey-transparent-50;
  position: absolute;
  left: 0;
  top: 0;
  cursor: default;
}

.companyList {
  height: 50%;
  overflow-y: auto;
  padding: 0 0 0 10px;

  font-size: 0.9em;
  border-left: 1px solid $color-red;
}
