html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  max-height: 100vh;
  background-color: $color-white;
}