// Import main font - Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
// Import material icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

p,
span,
a,
li {
  font-weight: medium;
}
